body {
  font-family: Arial;
  margin: 0;
}

header {
  background: orange;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.foods {
  padding: 10px;
}

.item {
  background: #eee;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

#cart {
  display: none;
  padding: 10px;
  border-top: 2px solid black;
}

input, textarea {
  width: 100%;
  margin: 5px 0;
  padding: 6px;
}
